h1, h2 {
    text-align: center;
    color: black;
}

header {
    border-bottom: 1px solid black;
}

.landing-image {
    margin: 0 auto;
    background-image: url("/soup.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

a:link,
a:visited,
a:hover, 
a:active {
    text-decoration: none;
    color: black;
}

.nav-button-container {
    padding: 1em;
    text-align: center;
    white-space: nowrap;
}

.nav-button {
    display: inline-block;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 3px;
    margin: auto;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: scroll;
    width: 100%;
}

.table {
    margin: 0, auto;
    display: table;
}

.header {
    display: table-cell;
    border-bottom: 1px solid black;
    padding: 3px;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.headers.fixed-header {
    position:fixed;
    background-color: gray;
    
}

.cell {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid black;
    height: 2.5em;
    padding: 3px;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.headers {
    display: table-row;
}

.row {
    display: table-row;
    vertical-align: middle;
}

.row:hover {
    background-color: hotpink;
}

.row:focus {
    background-color: red;
}

.animation-wrapper {
    min-height: 400px;
    width: 651px;
    max-width: 651px;
    margin: 25px auto;
}

section {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 651px;
    max-width: 651px;
    margin: 25px auto;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
    position: absolute;
    transition: 1s linear all;
}


.loading {
    background-image: url("/loop.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading.ng-leave-active {
    opacity:0;
}


.cont-view-wrapper {
    margin: 25px auto;
    max-width: 651px;
    width: 651px;
}

.cont-view {
    transition: 0.1s linear all;
    position: absolute;
}

.cont-view.ng-leave-active {
    margin-left: 3000px;
}

.cont-view.ng-enter-active {
    margin-left: -3000px;
}

.cont-view.ng-enter {
    margin-left: -3000px;
}

.info-map {
    height: 10em;
    border: 1px solid black;
    margin: 10px;
}

.info-flag {
    height: 10em;
    margin: 10px;
}

.info-row {
    height: 2em;
    max-height: 2em;
    white-space: nowrap;
}

.info-images {
    text-align: center;
    padding-top: 20px;
}

.info-row div {
    display: inline-block;
}

.info-row .value {
    width: 300px;
    max-width: 300px;
    overflow-x: auto;
}

.info-row .label {
    width: 300px;
    max-width:300px;
    text-align:right;
    padding-right: 10px;
}

.info-row .nav-button {
    margin-right: 10px;
}

.error {
    font-size: 2em;
    text-align: center;
    height: 4em;
}
